* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-align: justify;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h6 {
    font-size: 0.7em;
}

h2,
h3,
h4 {
    padding-top: 0.5em;
}

h5,
h6 {
    padding-top: 0.8em;
}

li {
    margin: 0 2em;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
}